body {
    margin: 10px;
}

#spinner {
    display: none;
    margin: auto;
    width: 20%;
    margin-top: 30px;
}

#promise_result {
    margin: auto;
    width: 40%;
    margin-top: 35px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}



/* users api data styling */
#separate_user_data {
    margin-bottom: 18px;
    padding: 7px 7px 7px 7px;
    border: 1px solid grey;
}

h3 {
    margin: 0px;
}

p {
    margin: 0px;
}

